<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>远程协助软件下载中心</title>
    <script charset="UTF-8" id="LA_COLLECT" src="//sdk.51.la/js-sdk-pro.min.js"></script>
    <script>LA.init({ id: "KfpynTGV98bJl4lh", ck: "KfpynTGV98bJl4lh" })</script>
    <link rel="icon" type="image/x-icon" href="./index_files/favicon.ico">
    <link rel="stylesheet" href="./index_files/style.css?v=1.2" type="text/css">
    <style>
        /* 禁止选中内容 */
        body {
            user-select: none;
        }
    </style>
    <script>
        // 禁止右键点击
        document.addEventListener('contextmenu', function (e) {
            e.preventDefault(); // 阻止默认右键菜单
        });

        // 禁止复制
        document.addEventListener('copy', function (e) {
            e.preventDefault(); // 阻止复制操作
        });

        // 禁止 F12 和查看源码
        document.onkeydown = function (e) {
            // 如果按下 F12 或者 Ctrl+Shift+I，阻止默认行为
            if (e.keyCode === 123 || (e.ctrlKey && e.shiftKey && e.keyCode === 73)) {
                e.preventDefault();
            }
            // 如果按下 Ctrl+U，阻止默认行为
            if (e.ctrlKey && e.keyCode === 85) {
                e.preventDefault();
            }
        };
    </script>
</head>

<body>
    <div class="container" id="app">
        <div class="software-grid">
            <div class="software-item">
                <a href="https://sunlogin.oray.com/download" target="_blank">
                    <img src="./index_files/sun.png" alt="向日葵" title="点击下载">
                </a>
                <p>国内用户选择</p>
            </div>
            <div class="software-item">
                <a href="https://www.todesk.com/download.html" target="_blank">
                    <img src="./index_files/todesk.png" alt="ToDesk" title="点击下载">
                </a>
                <p>国内用户选择</p>
            </div>

            <div class="software-item">
                <a href="https://www.asklink.com/download" target="_blank">
                    <img src="https://www.asklink.com/imgs/AskLink_logo.png" alt="连连控" title="点击下载">
                </a>
                <p>海外用户选择</p>
            </div>
        </div>

        <section class="links-section">
            <!-- 切换按钮 -->
            <div class="switch-buttons">
                <button v-for="(label, index) in buttonLabels" :key="index" class="switch-button"
                    :class="{ active: currentType === index + 1 }" @click="switchType(index + 1)">
                    {{ label }}
                </button>
            </div>

            <div class="links-grid">
                <a v-for="(item, index) in alists" :key="index" :href="item.url" class="link-item" target="_blank">
                    {{ item.text }}
                </a>
            </div>
        </section>

        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        <script>
            new Vue({
                el: '#app',
                data: {
                    currentType: 1,
                    alists: [],
                    buttonLabels: [
                        '系统综合',
                        '效率工具',
                        '编程开发',
                        '人工智能',
                        '运维相关',
                        "文档教程"
                    ]
                },
                mounted() {
                    this.fetchData(this.currentType);
                },
                methods: {
                    switchType(type) {
                        this.currentType = type;
                        this.fetchData(type);
                    },
                    fetchData(type) {
                        fetch('data.json')
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Network response was not ok ' + response.statusText);
                                }
                                return response.json();
                            })
                            .then(data => {
                                this.alists = data.filter(item => item.type === type);
                            })
                            .catch(error => {
                                console.error('There was a problem with the fetch operation:', error);
                            });
                    }
                }
            });
        </script>

</body>

</html>